----------Python Functions---------

A function is a block of code which only runs when it is called

# def dun_num(arguments, parameters):
    body : logic 
        Return vaule

In [10]:
def mysum():
    x = 5
    y= 10
    print (x+y)
mysum()

15

In [11]:
def mysum(x,y):
    print(x+y)
mysum(3,5)

8

In [12]:
def mysum(x,y):
    print(x+y)
mysum(3,3)

6

In [13]:
def mysum(x,y):
    print(x*y)
mysum(3,3)

9

In [26]:
def mysum(x,y):
    result = x*y
    return result
mysum(3,3)

9

In [29]:
def my_function():
    print("Hello From My Function!")
my_function()

Hello From My Function!

Types of parameter:Required, keyword, Postion Default

In [31]:
def mysum(x=0,y=1):
    result = x*y
    return result
mysum(3)

3

the Default value must be the last one.

In [33]:
def mysum(x,y=1):
    result = x*y
    return result
mysum(200)

200

In [34]:
f = 0 
print (f)
def do ():
    f = 5
    print(f)
do()
print(f)

0
5
0

a global variable in Python means having a scope throughout the program

In [35]:
f = 0 
print (f)
def do ():
    global f  
    f = 5 # local
    print(f)
do()
print(f)

0
5
5

In [39]:
# global variable
c = 1 

def add():

    # use of global keyword
    global c

    # increment c by 2
    c = c + 2 

    print(c)

add()

3

2# anonymous function

A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

In [42]:
mysum2 = lambda x,y :x+y

print(mysum2(5,5))

10

In [43]:
x = lambda a : a + 10
print(x(5))

15

In [45]:
t = (lambda x,y :x+y) (10,3)
print(t)

13

In [47]:
t = (1,2,3,4,5)
t[-1]

5

In [49]:
d = {'mohmoud':60,'age':10,'ali':80}
d['mohmoud']

60

In [50]:
d

{'mohmoud': 60, 'age': 10, 'ali': 80}

In [51]:
d['ali']= 500

In [52]:
d

{'mohmoud': 60, 'age': 10, 'ali': 500}

In [54]:
t= {'mohmoud': 60, 'age': 10, 'ali': 500}
for x in t :
    print (x)

mohmoud
age
ali

In [56]:
t= {'mohmoud': 60, 'age': 10, 'ali': 500}
for x in t.values() :
    print (x)

60
10
500

In [58]:
t= {'mohmoud': 60, 'age': 10, 'ali': 500}
for x,y in t.items():
    print (x,y)

mohmoud 60
age 10
ali 500

In [60]:
name = 'ahmed'
age = 30
print(f"my name {name} and my age is {age}")

my name ahmed and my age is 30

In [63]:
s = f"my name {name} and my age is {age}"

In [64]:
s.upper()

'MY NAME AHMED AND MY AGE IS 30'

In [65]:
s.lower()

'my name ahmed and my age is 30'

In [66]:
s.title()

'My Name Ahmed And My Age Is 30'

In [67]:
s.replace("is","was")

'my name ahmed and my age was 30'

In [68]:
s.islower()

True

In [70]:
s.isupper()

False